(
    texture_width: 428,
    texture_height: 288,
    sprites: [
        (
            x: 0,
            y: 48,
            width: 48,
            height: 48,
        ),

        (
            x: 128,
            y: 48,
            width: 48,
            height: 48,
        ),

        (
            x: 128,
            y: 0,
            width: 48,
            height: 48,
        ),

        (
            x: 380,
            y: 0,
            width: 16,
            height: 16,
        ),
        (
            x: 380,
            y: 48,
            width: 16,
            height: 16,
        ),
        (
            x: 380,
            y: 96,
            width: 16,
            height: 16,
        ),
        (
            x: 380,
            y: 144,
            width: 16,
            height: 16,
        ),
        (
            x: 380,
            y: 192,
            width: 16,
            height: 16,
        ),
        (
            x: 380,
            y: 240,
            width: 16,
            height: 16,
        ),
        (
            x: 380,
            y: 288,
            width: 16,
            height: 16,
        ),
    ]
)
